* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.top-div {
  height: 18%;
  position: relative;
  z-index: 2;
}

.profile-container {
  background: linear-gradient(to bottom, #02c9d0, #b2fefa38);
  background-color: transparent;
  padding: 30px 40px;

}
.data-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;

}
.profile-pic-div {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d0d0;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(38, 167, 253, 0.463);
}

.parent-div-saved-items-from-calculater{
  margin: 30px 0px;

}
.user-name {
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;
  color: #0a0a0a;
  position: absolute;
  right: 7%;
  top: 7%;
}

.camera-icon {
  cursor: pointer;
  color: white;
  margin-bottom: 13px;
  font-size: 24px;
}

.camera-icon:active {
  transform: scale(0.9);
}

.camera-div {
  height: 120px;
  width: 120px;
  display: flex;
  border-radius: 49%;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(124, 124, 124, 0.242);
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2868a7;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  z-index: 9;
}

.toast-header {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.toast-body {
  padding: 10px;
}


.parent-div-saved-items-from-calculater {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 40%;
  border-radius: 10px;
}
.parent-div-saved-items-from-calculater ul {
  text-align: center;
  padding: 10px;
  list-style: none;
}
.parent-div-saved-items-from-calculater ul li {
  line-height: 40px;
}
.parent-div-saved-items-from-calculater .macro-ratio {
  font-size: 19px;
}
.right-Side-Div-for-settings-section {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  align-items: center;
  height: 50%;
  width: 60%;
  border-radius: 10px;
}

.second-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 65%;
  margin-top: 40px;
  padding-bottom: 60px;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1a1a1a;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartBox {
  width: 550px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
  display: flex;
  flex-grow: 1;
}
.settings-section {
  width: 100%; 
  margin-top: 50px;
  font-size: 18px;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.logOut {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 80px;
}

.second-graph-for-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  align-items: center;
  height: 50%;
  width: 60%;
  border-radius: 10px;
}

.bottom-nav-div{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d8d2d2;

}

.save-value-data-section h3{
   font-size: 25px;
   margin-bottom: 25px;

}
.save-value-data-section li{
  font-size: 18px;

}

@media only screen and (max-width: 940px) {
  .chartBox {
    width: 550px;
  }
  .second-graph-for-price {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 910px) {
  .profile-container {
    background: linear-gradient(to bottom, #02c9d0, #b2fefa38);
  }
  .profile-pic-div,
  .camera-div {
    width: 100px;
    height: 100px;
  }
  .parent-div-saved-items-from-calculater {
    width: 100%;
    border: none;
    padding-left: 15px;
  }
  .right-Side-Div-for-settings-section,
  .second-graph-for-price {
    width: 100vw;
    border: none;
    height: 35%;
  }
  .second-section {
    height: 80%;
    flex-wrap: wrap;
  }
  .settings-section {
    margin-top: 30px;
    padding-bottom: 100px;
  }
  body {
    background: #ffffff;
  }
}
@media only screen and (max-width: 590px) {
  .chartBox {
    width: 500px;
    height: 300px;
  }
  #icons {
    font-size: 24px;
  }
  .second-graph-for-price {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .chartBox {
    width: 330px;
    height: 210px;
  }
}
